<div class="row panel">
  <div class="columns large-12">
  <h1 class="newfont4">My Bookings</h1>
  </div>
  <% @bookings.each do |b| %>
    <% if b.user_id == session[:user_id] %>
  <div class="columns large-12 panel white col-height">
      <% @properties.each do |p| %>
       <% if p.id == b.property_id %>
           <h2> <%= b.booking_date %></h2>
            <h4> <%= b.booking_info %></h4>
        <h2 class="newfont4">
          <%= p.name %> </h2>
        <h4> <%= p.info %></h4>
        <% end %>
        <% end %>

  <div class="column left large-6">
     <form method=get action=/bookings/<%= b.id %>/edit>
     <input type="hidden" id=<%= b.id %> name="booking_id" value=<%= b.id %> />
    <button class="small success button right"> Edit </button><br>
  </form>
  </div>
    <div class="column right large-6">
    <form method=post action=/bookings/<%= b.id %>/delete>
    <input type="hidden" name="_method" value="delete"/>
    <input type="hidden" id=<%= b.id %> name="booking_id" value=<%= b.id %> />
    <button class="small alert button"> Delete </button><br>
  </form>
  </div>
    </div>
  <% end %>
   <% end %>

   <% if @booking_exist == nil %>
   <div class="columns large-12 panel white col-height">
   <div class="newfont5"> There is no booking yet, book one now! </div>
   </div>
   <% end %>
   </div>